beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
inflate64==1.0.0
multivolumefile==0.2.3
numpy==1.26.4
pandas==2.2.1
psutil==5.9.8
py7zr==0.21.0
pybcj==1.0.2
pycryptodomex==3.20.0
pyppmd==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.4
python-dateutil==2.9.0.post0
pytz==2024.1
pyzstd==0.15.10
requests==2.31.0
scipy==1.12.0
six==1.16.0
soupsieve==2.5
texttable==1.7.0
tzdata==2024.1
urllib3==2.2.1
