aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
anyio==4.0.0
apparmor==3.0.4
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
asttokens==2.4.0
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Automat==20.2.0
Babel==2.12.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==6.0.0
blinker==1.4
borgbackup==1.2.0
Bottleneck==1.3.2
Brlapi==0.8.3
Brotli==1.1.0
bs4==0.0.1
CacheControl==0.12.10
certifi==2022.9.14
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
colorama==0.4.4
comm==0.1.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.7
crudini==0.9.3
cryptography==3.4.8
cupshelpers==1.0
cx_Freeze==6.15.15
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dicttoxml==1.7.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
EasyProcess==1.1
entrypoint2==1.1
entrypoints==0.4
et-xmlfile==1.0.1
exceptiongroup==1.1.3
executing==1.2.0
eyeD3==0.8.10
fasteners==0.14.1
fastjsonschema==2.18.0
filelock==3.6.0
flasgger==0.9.5
Flask==2.0.1
Flask-RESTful==0.3.9
fonttools==4.37.1
fqdn==1.5.1
frozenlist==1.3.3
fs==2.4.12
gast==0.5.2
google-search-results==2.4.2
gpg==1.16.0
grpcio==1.30.2
h5py==3.10.0
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.4
ifaddr==0.1.7
imageio==2.34.0
IMDbPY==2021.4.18
importlib-metadata==4.6.4
imutils==0.5.4
incremental==21.3.0
inflate64==1.0.0
iniconfig==1.1.1
iniparse==0.4
iotop==0.6
ipython==8.15.0
ipython_genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.0
jdcal==1.0
jedi==0.19.0
jeepney==0.7.1
Jinja2==3.0.3
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-core==4.9.1
keyring==23.5.0
kiwisolver==1.4.4
KolorControl @ git+https://github.com/Ablinne/kolorcontrol.git@6b7ab04deea96b688feb20896577501b2f8fd10e
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
LibAppArmor==3.0.4
livereload==2.6.3
llfuse==1.3.8
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mechanize==0.4.7
meld==3.20.4
mistune==3.0.1
mkdocs==1.1.2
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==0.0.0
msgpack==1.0.3
mss==9.0.1
multidict==6.0.4
multivolumefile==0.2.3
mutagen==1.45.1
nbformat==5.9.2
nemo-emblems==6.0.1
nest-asyncio==1.5.7
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2.1
notify2==0.3
Nuitka==0.6.19.1
numba==0.55.1
numexpr==2.8.1
numpy==1.26.4
oauthlib==3.2.0
odfpy==1.4.2
onboard==1.4.1
openai==0.27.2
openpyxl==3.0.9
outcome==1.1.0
overrides==7.4.0
packaging==23.2
PAM==0.4.2
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
patchelf==0.17.2.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.13
pipx==1.0.0
platformdirs==3.10.0
pluggy==0.13.0
ply==3.11
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
py7zr==0.20.8
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAutoGUI==0.9.54
pybcj==1.0.2
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.20.0
pycups==2.0.1
pycurl==7.44.1
pydocstyle==6.1.1
pydoctor==21.12.1
pyelftools==0.27
pyflakes==2.4.0
pyfuse3==3.2.0
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyICU==2.8.1
pyinotify==0.9.6
pyinstaller-hooks-contrib==2024.0
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.11.7
pyperclip==1.8.2
pyppmd==1.1.0
pyqt-distutils==0.7.3
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.13.3
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
pyscreenshot==3.1
PyScreeze==0.1.29
pyshine==0.0.9
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
PySocks==1.7.1
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-gnupg==0.4.8
python-json-logger==2.0.7
python-libdiscid==2.0.1
python-magic==0.4.24
python-xlib==0.29
python3-xlib==0.15
pythran==0.10.0
pytweening==1.0.7
pytz==2022.1
pywhatkit==5.4
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
pyzstd==0.15.9
qrcode==7.3.1
QtPy==2.4.0
redis==3.5.3
referencing==0.30.2
reportlab==3.6.8
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roman==3.3
rpds-py==0.10.3
rq==1.10.1
scikit-image==0.22.0
scipy==1.8.0
SCons==4.0.1
scour==0.38.2
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.2
service-identity==18.1.0
setproctitle==1.2.2
shiboken6==6.6.2
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soupsieve==2.3.1
stack-data==0.6.2
sympy==1.9
systemd-python==234
tables==3.7.0
terminado==0.17.1
texttable==1.7.0
tifffile==2024.2.12
tinycss2==1.1.1
tldextract==3.1.2
toml==0.10.2
tomli==2.0.1
torbrowser-launcher==0.3.3
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
trio==0.19.0
Twisted==22.1.0
typing_extensions==4.7.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
unicodecsv==0.14.1
unicodedata2==14.0.0
Unidecode==1.3.3
uri-template==1.3.0
urllib3==1.26.12
userpath==1.8.0
wadllib==1.3.6
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==9.1
Werkzeug==2.0.2
widgetsnbextension==4.0.9
wifite==2.6.0
wikipedia==1.4.0
xdg==5
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
yarg==0.1.9
yarl==1.8.2
yt-dlp==2022.4.8
zipp==1.0.0
zope.interface==5.4.0
